# Salin file ini menjadi .env dan sesuaikan nilainya

# URL Backend API (Yii2)
VITE_API_URL=http://api.yourdomain.com:8080/

# URL Aplikasi SSO untuk redirect login
VITE_SSO_URL=http://sso.yourdomain.com/resikaa-sso/web
